:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

body {
    background-color: var(--light);
    font-size: 1.5rem;
}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* On screens that are 700px, set the font size larger */
@media screen and (min-width: 700px) {
    body {
      font-size: 1.5rem;
      background-color: var(--dark);
      color: white;
    }
}
/* On screens that are 1000px , set the font size larger */
@media screen and (min-width: 1000px) {
    body {
      font-size: 1.5rem;
      background-color: var(--light);
      color: var(--dark);
    }
}
/* On screens that are min-width 375px for mobile  , ipsum info hidden */
@media (min-width: 280px) and (max-width: 480px) {
    .hidden-mobile{
        display: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
  }